
.pricing .section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


.pricing ul{
    list-style: none;
}

.pricing .section-package{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    
}
.section-package-title{
    display: flex;
    color: var(--background-color);
    background-color: var(--primary-color);
    padding: 10px 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.section-package-subtitle{
    margin: 10px 0;
}

.section-package hr{
    margin: 10px 0;
    opacity: 20%;
}

.section-package li{
    margin: 10px 10px;
}
.section-package-pay{
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .pricing .section{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        
    }
    
    .pricing .section-package{
        width: 100%;
       justify-content: center; 
        align-items: flex-start;
    }
    .section-package-title{
        padding: 10px 30px;
        align-items: center;
        justify-content: flex-start;
    }
    .section-package-subtitle{
        padding: 10px 30px;
        align-items: center;
        justify-content: flex-start;
    }
    
    .section-package hr{
        margin: 10px 0;
        opacity: 20%;
    }
    .section-package-pay{
        padding: 10px 30px;
        align-items: center;
        justify-content: flex-start;
    }
}