.web-projects {
  margin: 30px 0;
}
.web-projects .websites {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.project-container {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
  transition: 0.2s;
}
.project-container a {
  display: flex;
  flex-direction: column;
}

.project-container:hover {
  transform: scale(1.05);
}

.project-container img {
  height: 200px;
}
.project-container .project-title {
  padding: 5px 10px;
}

.project-container a {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .web-projects .websites {
    grid-template-columns: repeat(4, 1fr); /* 4 columns for medium screens */
  }
}

@media (max-width: 768px) {
  .web-projects .websites {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for small screens */
  }
}

@media (max-width: 480px) {
  .web-projects .websites {
    grid-template-columns: 1fr; /* 1 column for very small screens */
  }
}
