.contact-section{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    flex: 2;
}

.contact-form{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form .input{
   background-color: rgb(247, 247, 247);
   border: none;
   border-radius: 5px;
   height: 50px;
   font-size: 15px;
   padding-left: 10px;
}
.contact-form .message-input{
    text-align: start;
    position: relative;
    height: 250px;
}
.contact-form .message-input::placeholder{
    position: absolute;
    top: 10px;
    left: 10px;
}

.contact-map{
    flex: 1;
}

@media (max-width: 768px) {

    .contact-section{
        flex-direction: column;
    } 
    .contact-form{
        width: 100%;
    }
    .contact-map{
        width: 100%;
    }
}