.footer{
  background-color: var(--background-color);
}
.flashscreen {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
  }
  
  .flashscreen-defination {
    margin-bottom: 20px;
    width: 50%;
  }
  .flashscreen-defination h6{
    margin-bottom: 20px;
  }
  
  .flashscreen-buttons {
    display: flex;
    flex-direction: row; /* Buttons aligned horizontally */
    justify-content: center; /* Center-align buttons */
    gap: 15px; /* Space between buttons */
  }

  .deals-button {
    text-decoration: none;
    background-color: var(--secondry-color);
    padding: 10px 80px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .deals-button:hover {
    transform: scale(0.9);
   
  }

  .footer .horizontal-line {
    height: 1px; /* Line thickness */
    background-color: rgb(209, 209, 209); /* Line color */
    width: 100%;
    margin-bottom: 15px;
  }
.links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.links h6{
  margin-bottom: 10px;
}

.links-column{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.links-column a:hover{
  color: var(--primary-color);
}

@media (max-width: 768px) {

.flashscreen{
  padding: 0;
  flex-direction: column;
  justify-content: center;
}

.flashscreen-defination {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  width: 100%;
}

.flashscreen-buttons {
  flex-direction: column; 
  gap: 10px; 
  margin-bottom: 15px;
}

.deals-button {
  padding: 5px 80px;
  border-radius: 5px;
  font-size: 12px;
}

.links{
  column-count: 2;
  display: block;                  
  gap: 15px;
  
}

.links-column{
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

}