.contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    color: var(--primary-color);

}

.social-media-links{
    display: flex;
    gap: 10px;
    
}

.social-media-links i{
     cursor: pointer;
}

@media (max-width: 768px) {
.contacts{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
     }
     .social-media-links i{
       font-size: 15px;
     }

}